html, body {}

#address-display {
}

.row {
    justify-content: center;
    align-items: center;
}

p, h1 {
    display: inline-block;
}

.lg-text {
    font-size: 24px;
}

.underline {
    border-bottom: 1px solid #000000;
}

.status-table {}

.green-text {
    color: green;
}

.red-text {
    color: red;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    padding: 8px;
    text-align: right;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

td {
    max-width: 200px;
    overflow: hidden;
}

.status-table tr td:last-child {
    color: green;
}

.status-table tbody tr td:nth-child(5):not(:last-child) {
    color: red;
}

.status-table tfoot tr td:not(:last-child):not(:nth-child(5)) {
    border: none;
    background-color: transparent;
}

.status-table tfoot tr:nth-child(2)  td:nth-child(n+6) {
    color: red;
}

.status-table tfoot tr {
    background-color: transparent;
}
